<div class="study-info-about" >

      <div class="study-infos">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.295 2.115C13.6844 1.72564 13.6844 1.09436 13.295 0.705C12.9056 0.315639 12.2744 0.315639 11.885 0.705L7 5.59L2.115 0.705C1.72564 0.315639 1.09436 0.315639 0.705 0.705C0.315639 1.09436 0.315639 1.72564 0.705 2.115L5.59 7L0.705 11.885C0.315639 12.2744 0.315639 12.9056 0.705 13.295C1.09436 13.6844 1.72564 13.6844 2.115 13.295L7 8.41L11.885 13.295C12.2744 13.6844 12.9056 13.6844 13.295 13.295C13.6844 12.9056 13.6844 12.2744 13.295 11.885L8.41 7L13.295 2.115Z" fill="url(#paint0_linear)"/>
          <defs>
            <linearGradient id="paint0_linear" x1="0" y1="0" x2="15.4227" y2="1.79824" gradientUnits="userSpaceOnUse">
              <stop stop-color="#79B8BB"/>
              <stop offset="0.989583" stop-color="#8DADA0"/>
            </linearGradient>
          </defs>
        </svg>
      </div>	
      <div class="second-selection study-content-panel">
        <span>About</span>
        <p>{{ settings.search_info }}</p>
      </div>
    </div>

 

<div class="search-filter">
  <div>
    <h5>Popular Promises</h5>
    <div class="search-filter-link">
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>
      <a href="/search?search=luke 12:7">Luke 12:7</a>  	
    </div>
  </div>
  
  
  <div class="popular-topics">
    <h5>Popular Topics</h5>
    <div class="search-filter-link">
      <a href="/search?search=peace">Peace</a>
      <a href="/search?search=love">Love</a>
      <a href="/search?search=joy">Joy</a>
      <a href="/search?search=encouragement">Encouragement</a>
      <a href="/search?search=motivation">Motivation</a>
      <a href="/search?search=contentment">Contentment</a>  	
    </div>
  </div>
  
  
</div>
