
<div class="custom-search">
    <div class="main-filter">

    <form class="filter-form" action="search" autocomplete="off">
        
        <button type="submit">
        
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 225.6 213.3">
            <defs>
              <radialGradient id="radial-gradient" cx="0.498" cy="-0.004" r="0.994" gradientTransform="translate(0.027) scale(0.945 1)" gradientUnits="objectBoundingBox">
                <stop offset="0.66" stop-color="#fff"/>
                <stop offset="1" stop-color="#fff" stop-opacity="0"/>
              </radialGradient>
            </defs>
            <g id="Promiser__Logo_Icon_White_for_Dark_BG_Gradient" transform="translate(-72.6 -89.4)">
              <path id="Path_1" data-name="Path 1" d="M233.8,302.6H223.1c0-41.1-13.3-80.6-37.6-111.9-24.3,31.4-37.6,70.9-37.6,112H137.2c0-45.9,15.7-89.9,44.2-124l4.1-4.9,4.1,4.9C218,212.7,233.8,256.8,233.8,302.6Zm-21.6,0H201.5a165.906,165.906,0,0,0-16.1-71.3,163.053,163.053,0,0,0-16.1,71.3H158.6a174.157,174.157,0,0,1,22.2-85.5l4.7-8.3,4.7,8.3A173.962,173.962,0,0,1,212.2,302.6Zm43,0H244.4c0-54.9-21.5-107.1-59.1-144.3-37.6,37.1-59.1,89.4-59.1,144.3H115.6c0-59.6,24.1-116.3,66.1-155.6l3.7-3.4,3.7,3.4C231.1,186.3,255.2,243,255.2,302.6Zm21.6,0H266c0-67.6-30-132-80.6-173.1-50.5,41.1-80.6,105.4-80.6,173.1H94.1a239.212,239.212,0,0,1,23.3-103.2,226.722,226.722,0,0,1,64.8-80.9l3.3-2.6,3.3,2.6a227.8,227.8,0,0,1,64.8,80.9A242.032,242.032,0,0,1,276.8,302.6Zm21.4,0H287.4c0-79.1-37-153-98.9-197.7l-3.1-2.3-3.1,2.3c-61.9,44.7-98.9,118.6-98.9,197.7H72.6c0-82.5,38.6-159.7,103.4-206.4l9.4-6.8,9.4,6.8c37.8,27.3,66.7,65,84.2,108A259.716,259.716,0,0,1,298.2,302.6Zm-107.4,0a154.534,154.534,0,0,0-5.4-40.6,154.533,154.533,0,0,0-5.4,40.6Z" fill="url(#radial-gradient)"/>
            </g>
          </svg>

        </button>   
                      
        <div class="search-cancel"  onclick="document.getElementById('searchBox').value = ''">x</div>  <input type="text"  placeholder="Search Bible Promise or Topic" name="search" class="d-search" id="searchBox"> <br>

        <div class="form-switch">
            <label class="switch">
                <input type="checkbox" id="studyMode" name="study">
                <span class="slider round"></span> 
            </label> <span class="filter-type"> Study Mode </span>
        </div>
    </form>
    </div>

 <div class="study-info" id="info-about-btn">
        <span class="info-content">i</span>
    </div>

    
  

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  
  jQuery(function(){
      jQuery("#custom-search-icon").click(function() {
        jQuery(".custom-search").toggle();
        jQuery(".search-filter").toggle();
        jQuery(".search-a").css("border", "2px solid #79B8BB");
    });
  });
  
  
  // Handle form submit
  document.querySelector('.filter-form').addEventListener('submit', (e) => {
 	e.preventDefault();
    const study = document.getElementById('studyMode');
    const isStudy = study.checked;
    const searchBox = document.getElementById('searchBox');
    let redirect = isStudy ? '/pages/study-mode' : '/search';
   	redirect += '?search=' + searchBox.value;
    window.location.href = redirect;
  });
  
  document.getElementById('studyMode').addEventListener('change', (e) => {
    const searchLinkContainers = document.querySelectorAll('.search-filter-link');
    
    for (const linkContainer of searchLinkContainers) {
      const searchLinks = linkContainer.querySelectorAll('a');
    
      for (const link of searchLinks) {
        const sides = link.href.split('?');
        const page = e.target.checked ? '/pages/study-mode' : '/search';
        link.href = page + '?' + sides[1];
      }
    }
  });
  
  jQuery(function(){
  
  jQuery("#searchBox").keyup(function () {
       if (jQuery(this).val()) {
          jQuery(".search-cancel").show();
       }
       else {
          jQuery(".search-cancel").hide();
       }
    });
    jQuery(".search-cancel").click(function () {
       jQuery("#searchBox").val('');
       jQuery(this).hide();
    });

  });
  
  
  $('#info-about-btn, .study-info').click(function(){
      $('.study-info-about').toggle('slow');
  });
  
  $('.study-infos').click(function(){
      $('.study-info-about').hide('slow');
  }); 
  
  
   jQuery('.ctm-plan').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-main-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-plan-menu').addClass('ctm-menu-active');
});
  
  jQuery('.ctm-shop').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-main-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-shop-menu').addClass('ctm-menu-active');
});
  
   jQuery('.ctm-shop-menu .ctm-header').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-shop-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-main-menu').addClass('ctm-menu-active');
});
  
  jQuery('.ctm-plan-menu .ctm-header').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-plan-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-main-menu').addClass('ctm-menu-active');
});
  
  
</script>
