<div class="wrapper">

  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title h4">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}

  {%- render 'newsletter-form', text: section.settings.text, type: 'page' -%}

</div>

{% schema %}
  {
    "name": "Newsletter",
    "class": "mount-newsletter section-w-margin",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Subheading",
        "default": "<p>Invite customers to join your newsletter.<br/>Link to your <a href='#'>privacy policy</a>.</p>"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}