<div class="shopify-section section-w-margin section-w-mobile-padding" id="section-cart">

  <div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <h1 class="section-header__title h1">{{ 'cart.title' | t }}</h1>
  </div>

  <div class="grid five-tenths lap--full-width push-left-one-tenth lap--push-left-none">

    {%- if cart.item_count > 0 -%}
      {%- render 'cart-form', type: 'page' -%}
    {%- else -%}

      <div class="rte">
        <p>{{ 'cart.empty' | t }}</p>
        <a href="{{ routes.all_products_collection_url }}" class="button button--solid button--align">
          <span>{{ 'cart.continue_browsing' | t }}</span>
        </a>
      </div>

    {% endif %}

  </div>

</div>


<script>
  
  $("a.remove").each(function () {
	
    const _this = this,
          countCart = $(".menu-meta__count").html();
    
    const cartResult = countCart - 1;
    
  	_this.on("click", function(){

      if ( cartResult == 0) {
        window.location.reload()    
      }

    });
    
  });
  
  </script>
  

<style>
.template-cart .section-header + div {
    justify-content: center;
}

.template-cart #main .rte {
    margin-top: 80px;
    margin-bottom: 60px;
}
    .template-cart .cart-holder .rte {
      margin: 120px auto !important;
    }

    .template-cart .cart-holder .rte {
      text-align: center;
    }

  @media (max-width: 768px) {

    .template-cart .cart-holder .rte {
        margin: 60px auto !important;
    }
    


  }


  
</style>