{% render "token-checker" %}

<div class="shopify-section section-w-margin section-w-mobile-padding" id="section-{{ page.title | handle }}">
  <div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
<!--     <h1 class="section-header__title h1">{{ page.title | escape }}</h1> -->
  </div>
  <div class="five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <div class="rte">
        <div id="shopify-section-163294039134ad1f2b" class="shopify-section"><div class="custom-search">
    <div class="main-filter">


    <form class="filter-form" action="search" autocomplete="off">
        <button type="submit"><img src="//cdn.shopify.com/s/files/1/0575/8815/4557/t/4/assets/search-icon.png?v=6764782664197292930
                      //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/search-icon.png?42"></button>   <div class="search-cancel" onclick="document.getElementById('searchBox').value = ''">x</div>  <input type="text" placeholder="Search Bible Promise or Topic" name="search" class="search-a" id="searchBox" style="border: 2px solid rgb(121, 184, 187);"> <br>

        <div class="form-switch">
            <label class="switch">
                <input type="checkbox" id="studyMode" name="study">
                <span class="slider round"></span> 
            </label> <span class="filter-type"> Study Mode </span>
        </div>
    </form>
    </div>

 <div class="study-info" id="info-about-btn">
        <span class="info-content">i</span>
    </div>

    
  

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  
  jQuery(function(){
      jQuery("#custom-search-icon").click(function() {
        jQuery(".custom-search").toggle();
        jQuery(".search-filter").toggle();
        jQuery(".search-a").css("border", "2px solid #79B8BB");
    });
  });
  
  
  // Handle form submit
  document.querySelector('.filter-form').addEventListener('submit', (e) => {
  e.preventDefault();
    const study = document.getElementById('studyMode');
    const isStudy = study.checked;
    const searchBox = document.getElementById('searchBox');
    let redirect = isStudy ? '/pages/study-mode' : '/search';
    redirect += '?search=' + searchBox.value;
    window.location.href = redirect;
  });
  
  document.getElementById('studyMode').addEventListener('change', (e) => {
    const searchLinkContainers = document.querySelectorAll('.search-filter-link');
    
    for (const linkContainer of searchLinkContainers) {
      const searchLinks = linkContainer.querySelectorAll('a');
    
      for (const link of searchLinks) {
        const sides = link.href.split('?');
        const page = e.target.checked ? '/pages/study-mode' : '/search';
        link.href = page + '?' + sides[1];
      }
    }
  });
  
  jQuery(function(){
  
  jQuery("#searchBox").keyup(function () {
       if (jQuery(this).val()) {
          jQuery(".search-cancel").show();
       }
       else {
          jQuery(".search-cancel").hide();
       }
    });
    jQuery(".search-cancel").click(function () {
       jQuery("#searchBox").val('');
       jQuery(this).hide();
    });

  });
  
  
  $('#info-about-btn, .study-info').click(function(){
      $('.study-info-about').toggle('slow');
  });
  
  $('.study-infos').click(function(){
      $('.study-info-about').hide('slow');
  }); 
  
  
   jQuery('.ctm-plan').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-main-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-plan-menu').addClass('ctm-menu-active');
});
  
  jQuery('.ctm-shop').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-main-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-shop-menu').addClass('ctm-menu-active');
});
  
   jQuery('.ctm-shop-menu .ctm-header').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-shop-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-main-menu').addClass('ctm-menu-active');
});
  
  jQuery('.ctm-plan-menu .ctm-header').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    jQuery('.ctm-plan-menu').removeClass('ctm-menu-active');
    jQuery('.ctm-main-menu').addClass('ctm-menu-active');
});
  
  
</script>




</div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="main-text pt-10">dashboard</h3>
            </div>
        </div>  
      
      
      
      
    </div>
  </div>
</div>
<section class="main-sec">
          <div class="row">
              <div class="col-md-4">
                <a class="dashboard-tab-section" href="https://promiser.co/pages/peace-promise">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img  style="display: none;">
                      </div>
                      <h5 class="title-area-custom-box" style="margin-top: 5px;">your promises</h5>
                  </div>
                </a>
              </div>  
              <!--<div class="col-md-4">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/exclamation.png?v=1635339397">
                      </div>
                      <h5 class="title-area-custom-box">about you</h5>
                  </div>
              </div>-->  
              <div class="col-md-4">
              <a class="dashboard-tab-section" href="https://promiser.co/pages/peace-affirmations">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/affirmation.png?v=1635339734">
                      </div>
                      <h5 class="title-area-custom-box" style="margin-top: 5px;">affirmations</h5>
                  </div>
                </a>
              </div>  
          </div>
        <div class="row">
              <div class="col-md-4">
              <a class="dashboard-tab-section" href="https://promiser.co/pages/peace-prayers">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/voice.png?v=1632919421">
                      </div>
                      <h5 class="title-area-custom-box">Prayers</h5>
                  </div>
                  </a>
              </div>  
              <!--<div class="col-md-4 second-handle">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/plan.png?v=1635341474">
                      </div>
                      <h5 class="title-area-custom-box">Your Plan</h5>
                  </div>
              </div>  
              <div class="col-md-4">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/empty.png?v=1635341474">
                      </div>
                      <h5 class="title-area-custom-box">Your Orders</h5>
                  </div>
              </div>-->  
          </div>
        <div class="row" style="padding-bottom: 70px;">
              <div class="col-md-4">
                <a class="dashboard-tab-section" href="https://promiser.co/pages/dashboard-settings">
                  <div class="custom-boxes-area">
                      <div class="img-area-setting">
                        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/settings.png?v=1635341474">
                      </div>
                      <h5 class="title-area-custom-box">settings</h5>
                  </div>
                </a>
              </div>  
              <!--<div class="col-md-4">
                  <div class="custom-boxes-area">
                      <img src="">
                      <h5 class="title-area-custom-box">about you</h5>
                  </div>
              </div>  
              <div class="col-md-4">
                  <div class="custom-boxes-area">
                      <img src="">
                      <h5 class="title-area-custom-box">affirmations</h5>
                  </div>
              </div>-->
          </div>
      </section>
<div class="bottom-section width-100 display-block p-20">
  <div class="bottom-buyitnow display-block text-center">
    <a class="buyitnow-click">get a promise box for more</a>
  </div>
</div>

<style>
.dashboard-tab-section {
  display: block;
  position: relative;
  z-index: 2;
}
</style>
