<div class="row mb-hanlder">
  <div class="col-md-12">
    <h3 class="main-text pt-10 your-promise dashboard-setting">Settings</h3>
  </div>
</div>  
<div class="col-md-12 mb-hanlder">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li class="active-link">
        <a href="https://promiser.co/pages/dashboard-profile" class="active-link">Profile</a>
      </li>
      <li >
        <a href="https://promiser.co/pages/dashboard-security" class="non-active-link">Security</a>
      </li>
      <li>
        <a href="https://promiser.co/pages/dashboard-notifications" class="non-active-link">Notifications</a>
      </li>
    </ul>
  </div>
</div>
<div class="my-own-changer-pro box-shade">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/point.png?v=1635951435" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser profile-promiser">Profile</a>
        </div>
    </div>
  </div>
  <form id="edit_profile_form">
  <div class="row">
    <div class="col-md-12">
      <div class="mr-jenkins">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/profile_1ceefde6-3b11-42f1-9469-983be1612196.png?v=1635936679" name="log" class="mr-jenkins-img">
        <h4 class="mr-jenkins-text username"></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area">
        <label class="email-for-mr-jenkins">Email</label>
        <input type="email" name="email" id="email" class="scheme-setting email-text-field" placeholder="seepid@gmail.com">
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-12">
      <div class="email-area phone-of-mr-jenkins">
        <label class="email-for-mr-jenkins">Phone</label>
        <input type="text" name="phone" id="phone" class="scheme-setting phone-text-field" placeholder="+1 844 973 7246">
      </div>
    </div>
  </div>-->
  <div class="row">
    <div class="col-md-12">
      <div class="email-area birthday-of-mr-jenkins">
        <label class="email-for-mr-jenkins">Birthday</label>
        <input type="date" name="birthday" id="birthday" class="scheme-setting bday-text-field" placeholder="September 17th, 1984" data-date="" data-date-format="MMMM DD, YYYY">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area button-of-mr-jenkins">
        <input type="hidden" name="customer_id" id="customer_id" value="">
        <button type="submit" class="mr-jenkins-save-changes">Save Changes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area discard-of-mr-jenkins">
        <a href="javascript:void(0);" class="mr-jenkins-discard cancel">Discard Changes</a>
      </div>
    </div>
  </div>
  <p class="update-success" style="display:none; text-align:center;">Your Profile Data Successfully Updated<p>
  </form>
</div>
<style>
#edit_profile_form .email-area .error { color: #ffffff; }
@media (min-width: 564px){
.daterangepicker { width: 350px; }
}
input#birthday {
    position: relative;
    /*width: 150px;
    color: white;*/
}

input#birthday:before {
    /*position: absolute;*/
    content: attr(data-date);
    /*display: inline-block;
    color: #fff;*/
}

/*  input#birthday::-webkit-datetime-edit, input#birthday::-webkit-inner-spin-button, input#birthday::-webkit-clear-button {
    display: none;
}*/

input#birthday::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 15px;
    color: black;
    opacity: 1;
    cursor: pointer;
}
</style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ 'moment.min.js' | asset_url }}" ></script>

<script type="text/javascript">
jQuery(document).ready(function($){
  var getToken = localStorage.getItem("token");
  if(getToken) {
    var currentUserData = localStorage.getItem('customerdata');
    var userData = JSON.parse(currentUserData);
    var fullName = userData.firstName+" "+userData.lastName;
    //console.log(userData);

    $(".username").html(fullName);
    $("#edit_profile_form #email").val(userData.email);
    $("#edit_profile_form #birthday").val(userData.birthday);

  }

  $("#edit_profile_form").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      /*phone: {
        required: true
        //minlength: 15
      },*/
      birthday: {
        required: true
        //minlength: 10
      }
    },
    messages: {
      email: {
        required: "Please enter your email address",
        email: "Please enter a valid email address"
      },
      /*phone: {
        required: "Please enter your phone number"
        //minlength: "Your phone number must be at least 15 characters long"
      },*/        
      birthday: {
        required: "Please enter your Date Of Birth"
        //minlength: "Your date of birth must be at least 10 characters long"
      }
    }
  });

  $('#edit_profile_form #phone').keypress(function (e) {
    var charCode = (e.which) ? e.which : event.keyCode
    //console.log(charCode);
     if ( charCode == 43 || charCode == 32 ) {
        return true;
      } else {
          if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
              event.preventDefault(); 
          }   
      }
  }); 


  /*$("input#birthday").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
  }).trigger("change")*/

  var dtToday = new Date();
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;    
    $('#birthday').attr('max', maxDate);


  /*$('#birthday').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
      //$('#birthday').val(start.format('MMMM D, YYYY'));
      $('#birthday').val(start.format('DD-MM-YY'));
  });*/
  /*$('#birthday').on('apply.daterangepicker', function(ev, picker) {
    //$(this).val(picker.startDate.format('MMMM D, YYYY'));
    $(this).val(picker.startDate.format('DD-MM-YY'));
  });*/



  $(".discard-of-mr-jenkins .cancel").click(function() {
    alert("Are you discard your changes?");
    var getToken = localStorage.getItem("token");
    if(getToken) {
      var currentUserData = localStorage.getItem('customerdata');
      var userData = JSON.parse(currentUserData);
      var fullName = userData.firstName+" "+userData.lastName;
      //console.log(userData);
      
      $("#edit_profile_form #email").val(userData.email);
      $("#edit_profile_form #birthday").val(userData.birthday);
      $("#email-error, #birthday-error").remove();
      $(".username").html(fullName);
    }
  });



    $("#edit_profile_form").submit(function(event) {
      event.preventDefault();

      var currentUserData = localStorage.getItem('customerdata');
      var userData = JSON.parse(currentUserData);
      const formData =  {
        'email' : $('#edit_profile_form #email').val(),
        'birthday' : $('#edit_profile_form #birthday').val()
        //'phone' : $('#edit_profile_form #phone').val()
      };

      $.ajax({
        type: 'POST',
        //url: "https://guarded-badlands-26814.herokuapp.com/updateProfile",
        url: "https://signupapipromiser.herokuapp.com/updateProfile",
        data: JSON.stringify(formData), 
        contentType: "application/json",
        dataType: 'json'
      })
      .done(function(response) {
        //console.log(response);
        $(".mr-jenkins-save-changes").click();
        localStorage.setItem('customerdata', JSON.stringify(response));
        $(".update-success").show();
      })
      .fail(function(err) {
        console.log(err);
      }); 

     

    });


  });
</script>