<div class="nine-tenths lap--full-width push-left-one-tenth lap--push-left-none section-w-mobile-padding">
  <h1 class="h1">{{ page.title | escape }}</h1>
</div>
{%- section 'story' -%}
{%- section 'products-slider' -%}