<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="application/javascript">
  function updateTextInput(val) {
    document.getElementById('textInput').value=val; 
  }
</script>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
      <div class="inline-display-img">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/first-sign.png?v=1636724890" class="first-sign" alt="">
        <span class="befor-border"></span>
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/sign-third.png?v=1636724890" class="second-sign" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/sign-second.png?v=1636724890" class="third-sign" alt="">
      </div>
        <h5 class="main-text pt-10 choose-topic sentiement">SENTIMENT</h5>
    </div>
</div>
{{-- <div class="col-md-12">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li class="active-link">
        <a href="#" class="active-link">YOU</a>
      </li>
      <li>
        <a href="#" class="non-active-link">A CHILD</a>
      </li>
      <li>
        <a href="#" class="non-active-link">A FRIEND</a>
      </li>
    </ul>
  </div>
</div> --}}
<section class="main-sec pb-30" style="margin-top: 0;">
  <div class="row">
    <div class="col-md-12">
      <div class="center-text-me">
        <h2 class="lately pt-20 pb-20">LATELY, I’VE FELT:</h2>
      </div>
    </div>
  </div>
  <div class="ranger-sliders">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Content" readonly class="my-handle" />
            <input type="range" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders nth-first pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Encouraged" readonly class="my-handle" />
            <input type="range" id="nth-first-slider" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders mt-60 pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Sad" readonly class="my-handle" />
            <input type="range" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders nth-first pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Mad" readonly class="my-handle" />
            <input type="range" id="nth-first-slider" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders mt-60 pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Lonely" readonly class="my-handle" />
            <input type="range" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders nth-first pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Worried" readonly class="my-handle" />
            <input type="range" id="nth-first-slider" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ranger-sliders mt-60 pb-50 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="range-me">
            <input type="text" id="textInput" value="Confused" readonly class="my-handle" />
            <input type="range" name="rangeInput" max="100" step="1"/>
            <div class="inline-dis">
              <span class="almost-never">Almost Never</span>
              <span class="almost-always">Almost Always</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slot-me-right">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="up-nxt-squad">
            <h2>Up Next: Squad&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="bottom-section width-100 display-block p-20">
  <div class="bottom-buyitnow display-block text-center">
    <a class="buyitnow-click">Jump to the Plans</a>
  </div>
</div>