<div class="main-handling-login main-handling-login-form">
  <div class="on-back">
  </div>
     <div class="row z-back-index">
      <div class="first-sec-form">
        <div class="form-logo">
        {{ 'Promiser__Logo_Horizontal_White_for_Dark_BG_Gradient_1.png' | asset_url | img_tag }}
        </div>
      </div>  
    </div>
    <div class="row z-back-index">
      <div class="second-sec">
        <h2>To Sign In</h2>
        <h3>Enter Your Email and Password</h3>
      </div>  
    </div>
    <div class="row z-back-index">
      <div class="fourth-sec">
        <input type="email" placeholder="Email" name="" class="email-for-login generic-style d-lg-handle">
      </div>  
    </div>
    <div class="row z-back-index">
      <div class="fifth-sec">
        <input id="password-field" type="password" class="form-control generic-style d-lg-handle" name="password" value="">
        <!-- <span toggle="#password-field" class="fas fa-eye fa-eye field-icon toggle-password click-me-show"></span> -->
        <!-- <input type="password" placeholder="Password" name="" class="generic-style" id="password-field"> -->
        <a href="#" class="click-me-show"><img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/show.png?v=1636024156" name="null" class="fas fa-eye fa-eye field-icon toggle-password click-me-show eye-show-hide"  toggle="#password-field"></a>
      </div>
    </div>
    <div class="row z-back-index">
      <div class="six-sec">
        <p>Forgot your password?</p>
      </div>  
    </div>
    <div class="row z-back-index d-lg-none">
      <div class="seven-sec">
        <button type="submit" class="mr-jenkins-save-changes">Sign In</button>
      </div>
    </div>
  	<div class="social-z-index"></div>
    <div class="row d-none-sm">
      <div class="eight-sec">
        <button type="button" class="mr-jenkins-save-changes color-scheeme-fb"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Continue With Facebook</button>
      </div>  
    </div>
    <div class="row d-none-sm">
      <div class="nine-sec">
        <button type="button" class="mr-jenkins-save-changes color-scheeme-google"><i class="fab fa-google"></i>&nbsp;&nbsp;Continue With google</button>
      </div>
    </div>
  <div class="z-index-sett">
    <div class="row">
      <div class="col-md-12">
        <div class="close-me"><i class="fas fa-times close-na"></i></div>
        <h3 class="forgot-pass">Forgot Password</h3> <br>
        <p class="enter-the-email">Enter your Email and we will send you the link to reset your password</p> <br>
        <input type="email" placeholder="Email" name="" class="email-for-login generic-style custom-changes lg-view-handle">
      </div>
    </div>
    <div class="row">
      <div class="seven-sec">
        <button type="submit" class="mr-jenkins-save-changes my-btn lg-view-btn-handle">Send The Link</button>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript">
  jQuery(document).ready(function($){

  $(".click-me-show").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
  });
</script> -->