<div class="row mb-hanlder">
  <div class="col-md-12">
    <h3 class="main-text pt-10 your-promise dashboard-setting">Settings</h3>
  </div>
</div>  
<div class="col-md-12 mb-hanlder">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li class="active-link">
        <a href="#" class="active-link">Profile</a>
      </li>
      <li >
        <a href="#" class="non-active-link">Security</a>
      </li>
      <li>
        <a href="#" class="non-active-link">Notifications</a>
      </li>
    </ul>
  </div>
</div>
<div class="my-own-changer-pro box-shade">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/point.png?v=1635951435" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser profile-promiser">Profile</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mr-jenkins">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/profile_1ceefde6-3b11-42f1-9469-983be1612196.png?v=1635936679" name="log" class="mr-jenkins-img">
        <h4 class="mr-jenkins-text">Ms. Jenkins</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area">
        <label class="email-for-mr-jenkins">Email</label>
        <input type="email" name="email_for" class="scheme-setting email-text-field" placeholder="seepid@gmail.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area phone-of-mr-jenkins">
        <label class="email-for-mr-jenkins">Phone</label>
        <input type="text" name="phone_for" class="scheme-setting phone-text-field" placeholder="+1 844 973 7246">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area birthday-of-mr-jenkins">
        <label class="email-for-mr-jenkins">Birthday</label>
        <input type="text" name="phone_for" class="scheme-setting bday-text-field" placeholder="September 17th, 1984">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area button-of-mr-jenkins">
        <button type="submit" class="mr-jenkins-save-changes">Save Changes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area discard-of-mr-jenkins">
        <a class="mr-jenkins-discard">Discard Changes</a>
      </div>
    </div>
  </div>
</div>