<div class="main-handling-login main-handling-login-form">
  <div class="row">
    <div class="first-sec-form">
      <div class="form-logo">
      {{ 'Promiser__Logo_Horizontal_White_for_Dark_BG_Gradient_1.png' | asset_url | img_tag }}
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="second-sec">
      <h2>To Reset Password</h2>
      <h3>Enter a new password</h3>
    </div>  
  </div>
  <div class="row">
    <div class="fifth-sec fifth-sec-reset">
      <input id="password-field2" type="password" class="form-control generic-style reset-pass-pass" placeholder="New Password" name="password" value="">
      <!-- <span toggle="#password-field" class="fas fa-eye fa-eye field-icon toggle-password click-me-show"></span> -->
      <!-- <input type="password" placeholder="Password" name="" class="generic-style" id="password-field"> -->
      <a href="#" class="click-me-show click-me-one"><img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/show.png?v=1636024156" name="null" class="fas fa-eye fa-eye field-icon toggle-password click-me-one click-me-show eye-show-hide"  toggle="#password-field2"></a>
    </div>
  </div>
  <div class="row">
    <div class="fifth-sec">
      <input id="password-field" type="password" class="form-control generic-style" placeholder="Re-enter Password" name="password" value="">
      <!-- <span toggle="#password-field" class="fas fa-eye fa-eye field-icon toggle-password click-me-show"></span> -->
      <!-- <input type="password" placeholder="Password" name="" class="generic-style" id="password-field"> -->
      <a href="#" class="click-me-show click-me-two"><img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/show.png?v=1636024156" name="null" class="fas fa-eye fa-eye field-icon toggle-password click-me-two click-me-show-second eye-show-hide reset-pass-eye"  toggle="#password-field"></a>
    </div>
  </div>
  <div class="row">
    <div class="seven-sec">
      <button type="submit" class="mr-jenkins-save-changes">Reset Password</button>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
  jQuery(document).ready(function($){

  $(".click-me-one").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
      $(this).attr("src", "{{ 'eye_icons-03.png' | asset_url }}");
    } else {
      $(this).attr("src", "https://cdn.shopify.com/s/files/1/0575/8815/4557/files/show.png?v=1636024156");
      input.attr("type", "password");
      
    }
  });
    
    $(".click-me-two").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
      $(this).attr("src", "{{ 'eye_icons-03.png' | asset_url }}");
    } else {
      $(this).attr("src", "https://cdn.shopify.com/s/files/1/0575/8815/4557/files/show.png?v=1636024156");
      input.attr("type", "password");
      
    }
  });
  });
</script>