<div class="bg-changer-for-brand"style="height: 660px;">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/delete.png?v=1635946661" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser">PROMISER</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-action increasing-padd">
        <h5 class="subject-email-brand">Hi [First Name]! <br><br>We trust you’re doing well. Please see your daily promise below.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="audio-area">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/Record.png?v=1635267430" class="audio-area-img" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="simple-foot just-voice-hanlde-my">
        <h4 class="simple-foot-text">Your friends at Promiser</h4>
      </div>
    </div>
  </div>
</div>