<div class="row mb-hanlder">
  <div class="col-md-12">
    <h3 class="main-text pt-10 your-promise dashboard-setting">Settings</h3>
  </div>
</div>  
<div class="col-md-12 mb-hanlder">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li>
        <a href="https://promiser.co/pages/dashboard-profile" class="non-active-link">Profile</a>
      </li>
      <li class="active-link">
        <a href="https://promiser.co/pages/dashboard-security" class="active-link">Security</a>
      </li>
      <li>
        <a href="https://promiser.co/pages/dashboard-notifications" class="non-active-link">Notifications</a>
      </li>
    </ul>
  </div>
</div>
<div class="my-own-changer-pro dashboard-security-mining box-shade">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/point.png?v=1635951435" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser profile-promiser" style="padding-left: 50px!important;">Security</a>
        </div>
    </div>
  </div>
  <form id="edit_security_form">
  <div class="row">
    <div class="col-md-12">
      <div class="email-area">
        <input type="password" name="current_password" id="current_password" class="scheme-setting email-text-field password-security" placeholder="Current Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area phone-of-mr-jenkins">
        <input type="password" name="new_password" id="new_password" class="scheme-setting phone-text-field confirm-password-security" placeholder="New Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area birthday-of-mr-jenkins">
        <input type="password" name="confirm_new_password" id="confirm_new_password" class="scheme-setting bday-text-field" placeholder="Re-enter New Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area button-of-mr-jenkins">
        <button type="submit" class="mr-jenkins-save-changes">Save Changes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area discard-of-mr-jenkins">
        <a href="javascript:void(0);" class="mr-jenkins-discard cancel">Discard Changes</a>
      </div>
    </div>
  </div>
  <p class="update-success" style="display:none; text-align:center;">Your New Password Successfully Updated<p>
  </form>
</div>
<style>
  #edit_security_form .email-area .error { color: #ffffff; }
</style> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="https://lig-membres.imag.fr/donsez/cours/exemplescourstechnoweb/js_securehash/md5.js"></script>-->

<script type="text/javascript">
jQuery(document).ready(function($){
    $("#edit_security_form").validate({
      rules: {
        current_password: {
          required: true,
          minlength: 8
        },
        new_password: {
          required: true,
          minlength: 8
        },
        confirm_new_password: {
          required: true,
          minlength: 8,
          equalTo: "#new_password"
        }
      },
      messages: {
        current_password: {
          required: "Please enter your current password",
          minlength: "Your current password must be at least 8 characters long"
        },
        new_password: {
          required: "Please enter your new password",
          minlength: "Your new password must be at least 8 characters long"
        },        
        confirm_new_password: {
          required: "Please re-enter your new password",
          minlength: "Your re-enter new password must be at least 8 characters long",
          equalTo: "Please enter the same password as above"
        }
      }
    });

    var getToken = localStorage.getItem("token");
    if(getToken) {
      var currentUserData = localStorage.getItem('customerdata');
      var userData = JSON.parse(currentUserData);
      //console.log(userData);
    }
    
    $(".discard-of-mr-jenkins .cancel").click(function() {
      alert("Are you discard your changes?");
      var getToken = localStorage.getItem("token");
      if(getToken) {
        $("#edit_security_form #current_password").val("");
        $("#edit_security_form #new_password").val("");
        $("#edit_security_form #confirm_new_password").val("");
        $("#current_password-error, #new_password-error, #confirm_new_password-error").remove();
        
      }
    });

    $("#edit_security_form").submit(function(event) {
      event.preventDefault();

      var currentUserData = localStorage.getItem('customerdata');
      var userData = JSON.parse(currentUserData);
      var email = userData.email;
      var oldpassword = $("#edit_security_form #current_password").val();
      var newpassword = $("#edit_security_form #new_password").val();      
      

      const formData =  {
        'email': email,
        'oldPassword': oldpassword,
        'newPassword': newpassword
      };

      $.ajax({
        type: 'POST',
        //url: "https://guarded-badlands-26814.herokuapp.com/updatePassword",
        url: "https://signupapipromiser.herokuapp.com/updatePassword",
        data: JSON.stringify(formData),
        contentType: "application/json",
        dataType: 'json'
      })
      .done(function(response) {
        //console.log(response);
        $("#edit_security_form #current_password").val('');
        $("#edit_security_form #new_password").val('');
        $("#edit_security_form #confirm_new_password").val('');
        localStorage.setItem('customerdata', JSON.stringify(response));
        $(".update-success").show();
      })
      .fail(function(err) {
        console.log(err);
      }); 

     

    });


  });
</script>