<div class="row mb-hanlder">
  <div class="col-md-12">
    <h3 class="main-text pt-10 your-promise dashboard-setting">Settings</h3>
  </div>
</div>  
<div class="col-md-12 mb-hanlder">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li>
        <a href="#" class="non-active-link">Profile</a>
      </li>
      <li class="active-link">
        <a href="#" class="active-link">Security</a>
      </li>
      <li>
        <a href="#" class="non-active-link">Notifications</a>
      </li>
    </ul>
  </div>
</div>
<div class="my-own-changer-pro dashboard-security-mining box-shade">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/point.png?v=1635951435" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser profile-promiser" style="padding-left: 50px!important;">Security</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area">
        <input type="password" name="email_for" class="scheme-setting email-text-field password-security" placeholder="Current Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area phone-of-mr-jenkins">
        <input type="password" name="phone_for" class="scheme-setting phone-text-field confirm-password-security" placeholder="New Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area birthday-of-mr-jenkins">
        <input type="password" name="phone_for" class="scheme-setting bday-text-field" placeholder="Re-enter New Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area button-of-mr-jenkins">
        <button type="submit" class="mr-jenkins-save-changes">Save Changes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area discard-of-mr-jenkins">
        <a class="mr-jenkins-discard">Discard Changes</a>
      </div>
    </div>
  </div>
</div>