<div class="row mb-hanlder notif">
  <div class="col-md-12">
    <h3 class="main-text pt-10 your-promise dashboard-setting">Settings</h3>
  </div>
</div>  
<div class="col-md-12 mb-hanlder notif">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li>
        <a href="#" class="non-active-link">Profile</a>
      </li>
      <li>
        <a href="#" class="non-active-link">Security</a>
      </li>
      <li class="active-link">
        <a href="#" class="active-link">Notifications</a>
      </li>
    </ul>
  </div>
</div>
<div class="my-own-changer-pro dashboard-security-mining box-shade notif-under">
  <div class="row email-header">
    <div class="col-md-4">
      <div class="email-header-img"> 
          <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/point.png?v=1635951435" class="close-me-brand" alt="" name="close">
      </div>
    </div>
    <div class="col-md-8">
        <div class="email-header-text">
          <a href="#" class="brand-logo-type-promiser profile-promiser" style="padding-left: 50px!important;">Notifications</a>
        </div>
    </div>
  </div>
  <div class="boxing-view" style="margin-top: 40px!important;"> 
      <div class="row">
        <div class="col-md-8">
          <div class="checker-switch">
              <h4 class="email-about">Email About Shop</h4>     
          </div>
        </div>
        <div class="col-md-4">
          <div class="checker-area">
            <label class="switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>
        </div>
      </div>
  </div>
  <a href="#" class="checker-terms">Some description about this notification</a>
  <div class="boxing-view" style="margin-top: 23px!important;">
    <div class="row">
      <div class="col-md-8">
        <div class="checker-switch">
          <h4 class="cart-email">Cart Emails</h4>   
        </div>
      </div>
      <div class="col-md-4">
        <div class="checker-area">
          <label class="switch" for="checkbox2">
            <input type="checkbox" id="checkbox2" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
    </div> 
  </div>
  <a href="#" class="checker-terms">Some description about this notification</a>
  <div class="boxing-view" style="margin-top: 23px!important;">
    <div class="row">
      <div class="col-md-8">
        <div class="checker-switch">
          <h4 class="cart-email">Cart Emails</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="checker-area">
          <label class="switch" for="checkbox1">
            <input type="checkbox" id="checkbox1" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="checker-terms">Some description about this notification</a>
  <div class="row mt-50">
    <div class="col-md-12">
      <div class="email-area button-of-mr-jenkins">
        <button type="submit" class="mr-jenkins-save-changes">Save Changes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="email-area discard-of-mr-jenkins">
        <a class="mr-jenkins-discard">Discard Changes</a>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  height: 27px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 19px;
  left: 7px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.checker-area input#checkbox {
    background: transparent;
}
.checker-area input#checkbox1 {
    background: transparent;
}
.checker-area input#checkbox2 {
    background: transparent;
}
</style>