<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <img src="https://cdn.shopify.com/s/files/1/0575/8815/4557/files/promisebox.png?v=1636716141" alt="" class="promise-box-you mb-15 m-auto"/>
        <h5 class="main-text pt-10 choose-topic">FOR:</h5>
    </div>
</div>
<div class="col-md-12">
  <div class="custom-toggling">
    <ul class="block-display-list">
      <li>
        <a href="#" class="non-active-link">YOU</a>
      </li>
      <li>
        <a href="#" class="non-active-link">A CHILD</a>
      </li>
      <li class="active-link">
        <a href="#" class="active-link">A FRIEND</a>
      </li>
    </ul>
  </div>
</div>
<section class="main-sec pb-30" style="margin-top: 0;">
  <div class="row mt-20">
      <div class="col-md-12">
          <div class="about-us-box">
            <div class="center-text">
              <h2>ABOUT</h2>
              <p>What a eternally valuable gift to give to a loved one! We’ll match <br> promises to their life in 3 easy steps. Fill out as much you know so the <br> promises can minister to them. We respect their privacy and the <br> information shared will be stored securely. <a href="#" class="color-changer-pri">Privacy Policy</a></p>
            </div>
          </div>
      </div>  
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="bottom-area-arrow">
              <a href="#" class="get-start-with-right">Get Started&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
      </div>  
  </div>
</section>
<div class="bottom-section width-100 display-block p-20">
  <div class="bottom-buyitnow display-block text-center">
    <a class="buyitnow-click">Jump to the Plans</a>
  </div>
</div>