<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title>Outreach Partners Form</title> 
    <style> .breadcrumb-area{display:none;} #wrapper{width: 100%; height: 100vh; border: none;} html,body{width:100%;height:100%;} iframe{border-radius:0; !important; border: none; !important;}</style> 
  </head> 
    <body> 
      <div id="wrapper" data-tf-widget="X4caQT0i" data-tf-inline-on-mobile ></div> 
      <script src="//embed.typeform.com/next/embed.js"></script> 
    </body> 
</html>

<style>
 
/*    #shopify-section-header-outreach,
  #shopify-section-footer, */
  #top {
      display: none;
  }

  .template-page #main {
      padding: 0;
  }
  
</style>