<div class="shopify-section section-w-margin section-w-mobile-padding" id="section-{{ page.title | handle }}">
  <div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <h1 class="section-header__title h1">{{ page.title | escape }}</h1>
  </div>
  <div class="ten-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>