<div class="main-handling-login main-handling-login-form">
  <div class="row">
    <div class="first-sec-form">
      <div class="form-logo">
      {{ 'Promiser__Logo_Horizontal_White_for_Dark_BG_Gradient_1.png' | asset_url | img_tag }}
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="second-sec">
      <h2>To Sign Up</h2>
      <h3>Enter the following information</h3>
    </div>  
  </div>
  <div class="row">
    <div class="fourth-sec">
      <input type="text" placeholder="First Name" name="" class="email-for-login generic-style">
    </div>  
  </div>
  <div class="row">
    <div class="fourth-sec">
      <input type="text" placeholder="Last Name" name="" class="email-for-login generic-style">
    </div>  
  </div>
  <div class="row mb-40">
    <div class="fourth-sec">
      <input type="text" placeholder="Organization" name="" class="email-for-login generic-style">
    </div>  
  </div>
  <div class="row">
    <div class="fourth-sec">
      <input type="email" placeholder="Email" name="" class="email-for-login generic-style">
    </div>  
  </div>
  <div class="row">
    <div class="fifth-sec">
      <input id="password-field" type="password" class="form-control generic-style custom-pass-event" placeholder="Password" name="password" value="">
    </div>
  </div>
  <div class="row">
    <div class="fifth-sec">
      <input id="password-field" type="password" class="form-control generic-style" placeholder="Re-enter Password" name="password" value="">
    </div>
  </div>
  <div class="row">
    <div class="seven-sec">
      <button type="submit" class="mr-jenkins-save-changes">Sign In</button>
    </div>
  </div>
  <div class="row">
    <div class="eight-sec">
      <button type="button" class="mr-jenkins-save-changes color-scheeme-fb"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Continue With Facebook</button>
    </div>  
  </div>
  <div class="row">
    <div class="nine-sec">
      <button type="button" class="mr-jenkins-save-changes color-scheeme-google"><i class="fab fa-google"></i>&nbsp;&nbsp;Continue With google</button>
    </div>
  </div>
  <div class="row">
    <div class="tenth-sec">
      <h4 class="dont-acount">Already have an account?&nbsp;&nbsp;<a  href="#" class="sign-up-please">Sign Ip</a></h4>
    </div>
  </div>
</div>